{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load i18n %}

{% block title %}
    {% trans ' Change Password' %}
{% endblock %}

{% block content %}
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        {% render_partial 'User.views.user_panel_menu_component' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <div class="profile-address">
                                    <div class="middle-container">
                                        <form  action="{% url 'change_password_page' %}" method="post" class="form-checkout">
                                            {% csrf_token %}
                                                <div class="form-checkout-row">

                                                <label for="password">{% trans 'Previous Password :' %}<abbr class="required" title= " {% trans 'Necessary' %} " style="color:red;">*</abbr></label>
                                                {{ form.current_password }}
                                                {{ form.current_password.errors }}

                                                <label for="password">{% trans 'New Password :' %}<abbr class="required" title= " {% trans 'Necessary' %} " style="color:red;">*</abbr></label>
                                                {{ form.password }}
                                                {{ form.password.errors }}

                                                <label for="password">{% trans 'Repeat The New Password :' %}<abbr class="required" title= " {% trans 'Necessary' %} " style="color:red;">*</abbr></label>
                                                {{ form.confirm_password }}
                                                {{ form.confirm_password.errors }}
                                                <div class="AR-CR">
                                                    <button class="btn-registrar"> {% trans 'Record Changes' %}</button>
                                                    <a href="{% url "edit_profile_page" %}" class="cancel-edit-address" data-dismiss="modal" aria-label="Close">{% trans 'Back' %}</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}







 {% comment %} <div class="container">
    <div class="row">
        <div class="col-md-4">
            {% render_partial 'User.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-8">
            {% comment %}{% if form.errors %}
                {% for field in form.fields %}
                    {% for error in field.error %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endfor %}

            {% comment %} {% endif %}
            <form action="{% url 'change_password_page' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">ثبت</button>
            </form>
        </div>
    </div>
</div>  {% endcomment %}