{% load static %}
<script src="/static/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/static/js/vendor/owl.carousel.min.js"></script>
<script src="/static/js/vendor/jquery.countdown.js"></script>
<script src="/static/js/vendor/jquery.ez-plus.js"></script>
<script src="/static/js/vendor/jquery.nice-select.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script src="/static/js/vendor/jquery.jqZoom.js"></script>
<script src="/static/js/vendor/ResizeSensor.min.js"></script>
<script src="/static/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="/static/js/vendor/wNumb.js"></script>
<script src="/static/js/vendor/nouislider.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/vendor/sweetalert2.all.min.js"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> {% endcomment %}
 <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>